# Exercise: Exploratory Data Analysis with Pandas
## Instructions
1. Data Collection
    - Search and collect data on the following: (1993 - 2023)
        - Israel interest tares
        - US interest rates
        - USD to ILS exchange rates
    - For each dataset, create a pandas DataFrame with the following columns:
        - Year
        - Month
        - Current_Rate (Interest rate or exchange rate for that month)
        - Change_From_Last_Month (Difference in Current_Rate from the previous month)
        - Optional: You may include additional columns if you find them useful (e.g., Change_Percentage, Date).

In [ ]:
# your code here
import pandas as pd
import matplotlib.pyplot as plt

df_Bank_of_Israel_interest_rates = pd.read_csv("/content/cleaned_data1.csv")
df_Bank_USA=pd.read_csv("/content/INTDSRUSM193N.csv")
Conversion_rates=pd.read_csv("/content/additional_rates_19930101_20240101_en_USD.csv")
print(df_Bank_of_Israel_interest_rates.columns)
print(df_Bank_USA.columns)
print(Conversion_rates.columns)

Index(['Date', 'Interest'], dtype='object')
Index(['observation_date', 'INTDSRUSM193N'], dtype='object')
Index(['Date    ', 'USD'], dtype='object')

In [ ]:
#סידור המבנה של העמודות של הדאטה של הריביות של בנק ישראל
df_Bank_of_Israel_interest_rates['Date'] = pd.to_datetime(df_Bank_of_Israel_interest_rates['Date'])
df_Bank_of_Israel_interest_rates['Year'] = df_Bank_of_Israel_interest_rates['Date'].dt.year
df_Bank_of_Israel_interest_rates['Month']= df_Bank_of_Israel_interest_rates['Date'].dt.month
df_monthly = df_Bank_of_Israel_interest_rates.groupby(['Year', 'Month'], as_index=False).agg({'Interest': 'last'})
df_monthly['Change_Percentage'] = df_Bank_of_Israel_interest_rates['Interest'].pct_change() * 100
df_Bank_of_Israel_interest_rates=df_monthly


print(df_Bank_of_Israel_interest_rates)

     Year  Month  Interest  Change_Percentage
0    1994      1      10.5                NaN
1    1994      2      10.5                0.0
2    1994      3      10.5                0.0
3    1994      4      10.5                0.0
4    1994      5      11.5                0.0
..    ...    ...       ...                ...
366  2024      7       4.5                0.0
367  2024      8       4.5                0.0
368  2024      9       4.5                0.0
369  2024     10       4.5                0.0
370  2024     11       4.5                0.0

[371 rows x 4 columns]

In [ ]:
#סידור  המבנה של העמודות של הדאטה הריביות של USA
df_Bank_USA['observation_date'] = pd.to_datetime(df_Bank_USA['observation_date'])
df_Bank_USA['Year'] = df_Bank_USA['observation_date'].dt.year
df_Bank_USA['Month']= df_Bank_USA['observation_date'].dt.month
df_monthly = df_Bank_USA.groupby(['Year', 'Month'], as_index=False).agg({'INTDSRUSM193N': 'last'})
df_monthly['Change_Percentage'] = df_Bank_USA['INTDSRUSM193N'].pct_change() * 100
df_Bank_USA=df_monthly
print(df_Bank_USA.head(100))

    Year  Month  INTDSRUSM193N  Change_Percentage
0   1950      1           1.75                NaN
1   1951      1           1.75           0.000000
2   1952      1           1.75           0.000000
3   1953      1           2.00           0.000000
4   1954      1           1.50           0.000000
..   ...    ...            ...                ...
67  2017      1           2.00          12.571429
68  2018      1           3.00          10.659898
69  2019      1           2.25           3.211009
70  2020      1           0.25           4.888889
71  2021      1           0.25           5.932203

[72 rows x 4 columns]

In [ ]:
Conversion_rates['Date    '] = pd.to_datetime(Conversion_rates['Date    '])


Conversion_rates['Year'] = Conversion_rates['Date    '].dt.year
Conversion_rates['Month']= Conversion_rates['Date    '].dt.month
df_monthly = Conversion_rates.groupby(['Year', 'Month'], as_index=False).agg({'USD': 'last'})
df_monthly['Change_Percentage'] = Conversion_rates['USD'].pct_change() * 100
Conversion_rates=df_monthly
print(Conversion_rates.head(100))

    Year  Month    USD  Change_Percentage
0   1993      1  2.764                NaN
1   1993      2  2.796          -0.220568
2   1993      3  2.796           0.138160
3   1993      4  2.764           0.110375
4   1993      5  2.728          -0.799338
..   ...    ...    ...                ...
95  2000     12  4.100           0.239744
96  2001      1  4.077          -1.036407
97  2001      2  4.143          -0.026853
98  2001      3  4.118          -0.134300
99  2001      4  4.216          -0.053792

[100 rows x 4 columns]

<ipython-input-61-9f8a1af6c6c4>:1: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  Conversion_rates['Date    '] = pd.to_datetime(Conversion_rates['Date    '])

    Year  Month  INTDSRUSM193N  Change_Percentage
0   1950      1           1.75                NaN
1   1951      1           1.75           0.000000
2   1952      1           1.75           0.000000
3   1953      1           2.00           0.000000
4   1954      1           1.50           0.000000
..   ...    ...            ...                ...
67  2017      1           2.00          12.571429
68  2018      1           3.00          10.659898
69  2019      1           2.25           3.211009
70  2020      1           0.25           4.888889
71  2021      1           0.25           5.932203

[72 rows x 4 columns]

## Part A: Single DataFrame Analysis
1. Display the first 5 rows of the US interest rates DataFrame.

2. Calculate the average Israeli interest rate over the period covered by your data.

3. Find the month and year when the USD to ILS exchange rate had the highest increase from the previous month.

4. Determine the total number of months where the US interest rate decreased compared to the previous month.

5. Add a new column to the Israeli interest rates DataFrame called Change_Percentage, representing the percentage change from the previous month.

In [ ]:
# A - 1
print(df_Bank_USA.head(5))
# your code here

   Year  Month  INTDSRUSM193N  Change_Percentage
0  1950      1           1.75                NaN
1  1951      1           1.75                0.0
2  1952      1           1.75                0.0
3  1953      1           2.00                0.0
4  1954      1           1.50                0.0

In [ ]:
# A - 2
average_interest_rate = df_Bank_of_Israel_interest_rates['Interest'].mean()
print(f"Average Israel interest rate: {average_interest_rate}")

# your code here

Average Israel interest rate: 4.868194070080863

In [ ]:
# A - 3
highest_increase_month = Conversion_rates['Month'].iloc[Conversion_rates['Change_Percentage'].idxmax()]
highest_increase_year = Conversion_rates['Year'].iloc[Conversion_rates['Change_Percentage'].idxmax()]
# your code here

In [ ]:
# A - 4
decreased_months = (df_Bank_USA['Change_Percentage'] < 0).sum()

print(f"Total number : {decreased_months}")

Total number : 109

In [ ]:
# A - 5
# your code here

## Part B: Merging DataFrames
1. Merge the US and Israeli interest rates DataFrames on Year and Month.

2. In the merged DataFrame, create a new column Rate_Difference that shows the difference between the Israeli and US interest rates for each month.

3. Identify all months when the Israeli interest rate was at least 1% higher than the US interest rate - IH (Israeli Higher).
Identify all months when the US interest rate was at least 1% higher than the Israeli interest rate - UH (US Higher).
Identify all months when the interest rates were within 1% of each other - N (Near)
make a new column called Rate_Comparison with the following values: IH, UH, or N.

4. Merge the exchange rate DataFrame with the merged interest rates DataFrame.

5. After merging all three DataFrames, find the correlation between the Rate_Difference and the Current_Rate of the exchange rate.
hint: find the connection between the difference in interest rates and the exchange rates, use any method you think is appropriate.
provide an explanation of the results (in Hebrew) - at least 2 rows of text + a proof of the connection(some output) you found.

In [ ]:
# B - 1
# your code here
df_merged = pd.merge(df_Bank_USA, df_Bank_of_Israel_interest_rates, on=['Year', 'Month'], how='inner')
print(df_merged)

    Year  Month  INTDSRUSM193N  Change_Percentage_x  Interest  \
0   1994      1           4.75             0.000000     10.50
1   1995      1           5.25             0.000000     17.00
2   1996      1           5.00             0.000000     13.70
3   1997      1           5.00             0.000000     14.20
4   1998      1           4.50             0.000000     12.90
5   1999      1           5.00           -10.500000     13.50
6   2000      1           6.00            -2.234637     10.30
7   2001      1           1.33            -6.857143      8.00
8   2002      1           0.75            -7.975460      3.80
9   2003      1           2.00             0.000000      8.90
10  2004      1           3.25             0.000000      4.50
11  2005      1           5.25             0.000000      3.50
12  2006      1           6.25             0.000000      4.75
13  2007      1           4.75             0.000000      4.50
14  2008      1           0.50             0.000000      4.25
15  2009      1           0.50             0.000000      1.00
16  2010      1           0.75             0.000000      1.25
17  2011      1           0.75             0.000000      2.25
18  2012      1           0.75             0.000000      2.50
19  2013      1           0.75             8.666667      1.75
20  2014      1           0.75             7.361963      1.00
21  2015      1           1.00             0.000000      0.25
22  2016      1           1.25             0.000000      0.10
23  2017      1           2.00            12.571429      0.10
24  2018      1           3.00            10.659898      0.10
25  2019      1           2.25             3.211009      0.25
26  2020      1           0.25             4.888889      0.25
27  2021      1           0.25             5.932203      0.10

    Change_Percentage_y
0                   NaN
1                   0.0
2                   0.0
3                   0.0
4                   0.0
5                   0.0
6                   0.0
7                   0.0
8                   0.0
9                   0.0
10                  0.0
11                  0.0
12                  0.0
13                  0.0
14                  0.0
15                  0.0
16                  0.0
17                  0.0
18                  0.0
19                  0.0
20                  0.0
21                  0.0
22                  0.0
23                  0.0
24                  0.0
25                  0.0
26                  0.0
27                  0.0

In [ ]:
# B - 2
df_merged['Rate_Difference'] = df_merged['Interest'] - df_merged['INTDSRUSM193N']
print(df_merged)

In [94]:
# B - 3


df_merged['Rate_Comparison'] = 'N'

df_merged.loc[df_merged['Interest'] >= df_merged['INTDSRUSM193N'] * 1.01, 'Rate_Comparison'] = 'IH'

df_merged.loc[df_merged['INTDSRUSM193N'] >= df_merged['Interest'] * 1.01, 'Rate_Comparison'] = 'UH'



print(df_merged)
# your code here

    Year  Month  INTDSRUSM193N  Change_Percentage_x  Interest  \
0   1994      1           4.75             0.000000     10.50
1   1995      1           5.25             0.000000     17.00
2   1996      1           5.00             0.000000     13.70
3   1997      1           5.00             0.000000     14.20
4   1998      1           4.50             0.000000     12.90
5   1999      1           5.00           -10.500000     13.50
6   2000      1           6.00            -2.234637     10.30
7   2001      1           1.33            -6.857143      8.00
8   2002      1           0.75            -7.975460      3.80
9   2003      1           2.00             0.000000      8.90
10  2004      1           3.25             0.000000      4.50
11  2005      1           5.25             0.000000      3.50
12  2006      1           6.25             0.000000      4.75
13  2007      1           4.75             0.000000      4.50
14  2008      1           0.50             0.000000      4.25
15  2009      1           0.50             0.000000      1.00
16  2010      1           0.75             0.000000      1.25
17  2011      1           0.75             0.000000      2.25
18  2012      1           0.75             0.000000      2.50
19  2013      1           0.75             8.666667      1.75
20  2014      1           0.75             7.361963      1.00
21  2015      1           1.00             0.000000      0.25
22  2016      1           1.25             0.000000      0.10
23  2017      1           2.00            12.571429      0.10
24  2018      1           3.00            10.659898      0.10
25  2019      1           2.25             3.211009      0.25
26  2020      1           0.25             4.888889      0.25
27  2021      1           0.25             5.932203      0.10

    Change_Percentage_y  Rate_Difference     IH Rate_Comparison
0                   NaN             5.75   True              IH
1                   0.0            11.75   True              IH
2                   0.0             8.70   True              IH
3                   0.0             9.20   True              IH
4                   0.0             8.40   True              IH
5                   0.0             8.50   True              IH
6                   0.0             4.30   True              IH
7                   0.0             6.67   True              IH
8                   0.0             3.05   True              IH
9                   0.0             6.90   True              IH
10                  0.0             1.25   True              IH
11                  0.0            -1.75  False              UH
12                  0.0            -1.50  False              UH
13                  0.0            -0.25  False              UH
14                  0.0             3.75   True              IH
15                  0.0             0.50   True              IH
16                  0.0             0.50   True              IH
17                  0.0             1.50   True              IH
18                  0.0             1.75   True              IH
19                  0.0             1.00   True              IH
20                  0.0             0.25   True              IH
21                  0.0            -0.75  False              UH
22                  0.0            -1.15  False              UH
23                  0.0            -1.90  False              UH
24                  0.0            -2.90  False              UH
25                  0.0            -2.00  False              UH
26                  0.0             0.00  False               N
27                  0.0            -0.15  False              UH

In [ ]:
# B - 4

rate_of_exchange_merged = pd.merge(df_Bank_USA,df_merged , on=['Year', 'Month'], how='inner')
print(rate_of_exchange_merged)
# your code here

    Year  Month  INTDSRUSM193N_x  Change_Percentage  INTDSRUSM193N_y  \
0   1994      1             4.75           0.000000             4.75
1   1995      1             5.25           0.000000             5.25
2   1996      1             5.00           0.000000             5.00
3   1997      1             5.00           0.000000             5.00
4   1998      1             4.50           0.000000             4.50
5   1999      1             5.00         -10.500000             5.00
6   2000      1             6.00          -2.234637             6.00
7   2001      1             1.33          -6.857143             1.33
8   2002      1             0.75          -7.975460             0.75
9   2003      1             2.00           0.000000             2.00
10  2004      1             3.25           0.000000             3.25
11  2005      1             5.25           0.000000             5.25
12  2006      1             6.25           0.000000             6.25
13  2007      1             4.75           0.000000             4.75
14  2008      1             0.50           0.000000             0.50
15  2009      1             0.50           0.000000             0.50
16  2010      1             0.75           0.000000             0.75
17  2011      1             0.75           0.000000             0.75
18  2012      1             0.75           0.000000             0.75
19  2013      1             0.75           8.666667             0.75
20  2014      1             0.75           7.361963             0.75
21  2015      1             1.00           0.000000             1.00
22  2016      1             1.25           0.000000             1.25
23  2017      1             2.00          12.571429             2.00
24  2018      1             3.00          10.659898             3.00
25  2019      1             2.25           3.211009             2.25
26  2020      1             0.25           4.888889             0.25
27  2021      1             0.25           5.932203             0.25

    Change_Percentage_x  Interest  Change_Percentage_y  Rate_Difference  \
0              0.000000     10.50                  NaN             5.75
1              0.000000     17.00                  0.0            11.75
2              0.000000     13.70                  0.0             8.70
3              0.000000     14.20                  0.0             9.20
4              0.000000     12.90                  0.0             8.40
5            -10.500000     13.50                  0.0             8.50
6             -2.234637     10.30                  0.0             4.30
7             -6.857143      8.00                  0.0             6.67
8             -7.975460      3.80                  0.0             3.05
9              0.000000      8.90                  0.0             6.90
10             0.000000      4.50                  0.0             1.25
11             0.000000      3.50                  0.0            -1.75
12             0.000000      4.75                  0.0            -1.50
13             0.000000      4.50                  0.0            -0.25
14             0.000000      4.25                  0.0             3.75
15             0.000000      1.00                  0.0             0.50
16             0.000000      1.25                  0.0             0.50
17             0.000000      2.25                  0.0             1.50
18             0.000000      2.50                  0.0             1.75
19             8.666667      1.75                  0.0             1.00
20             7.361963      1.00                  0.0             0.25
21             0.000000      0.25                  0.0            -0.75
22             0.000000      0.10                  0.0            -1.15
23            12.571429      0.10                  0.0            -1.90
24            10.659898      0.10                  0.0            -2.90
25             3.211009      0.25                  0.0            -2.00
26             4.888889      0.25                  0.0             0.00
27             5.932203      0.10                  0.0            -0.15

       IH Rate_Comparison
0    True              IH
1    True              IH
2    True              IH
3    True              IH
4    True              IH
5    True              IH
6    True              IH
7    True              IH
8    True              IH
9    True              IH
10   True              IH
11  False              UH
12  False              UH
13  False              UH
14   True              IH
15   True              IH
16   True              IH
17   True              IH
18   True              IH
19   True              IH
20   True              IH
21  False              UH
22  False              UH
23  False              UH
24  False              UH
25  False              UH
26  False               N
27  False              UH

In [ ]:
# B - 5

# your code here

NameError: name 'rate_of_exchange_merged' is not defined

## Part C: Analyzing Relationships Between DataFrames
1. Analyze whether increases in US interest rates are associated with increases or decreases in the USD to ILS exchange rate in the same month.

2. Determine if changes in the Israeli interest rate have a stronger impact on the exchange rate than changes in the US interest rate.

3. Find any time lags in the effect of interest rate changes on the exchange rate. For example, does a change in US interest rates affect the exchange rate in the following month?
(כלומר- האם כשיש שינוי בריבית כלשהי - האם מייד יש שינוי בשער ההמרה? או שיש דיליי של חודש/חודשים עד שמרגישים את ההשפעה - אם בכלל?)

4. Calculate the rolling past 3-month average of the exchange rate for each data time, and add it as a new column.

5. Identify any periods where both US and Israeli interest rates were decreasing, and analyze how the exchange rate behaved during those periods.

In [ ]:
# Bonus

# Bonus
choose 3 global / local events or periods that you think could have affected the exchange rate or interest rates
and analyze the effect of these events on the data you collected.
show proof of your analysis that supports your claim.

(כלומר- תבחנו אירועים שקרו בתקופה שאתם עובדים עליה ובדקו איך הם השפיעו על הנתונים שאתם עובדים איתם)
למשל: בחירות בארה״ב, בחירות בישראל, רוסיה אוקראינה, מלחמות בישראל וכו׳.

In [ ]:
# Your code here